# Order is important; the last matching pattern takes the most
# precedence.

* @ilevine @ilrudie @linsun @yuval-k

# less-sensitive content owned by the full set of community maintainers
*.md @k8sgateway/community-maintainers
